html {
    --light-background: #D1D6DC;
    --light-foreground: #EEF0F2;
    --light-accent: #317BB3;
    --dark-background: #1F1F1F;
    --dark-foreground: #333;
    --dark-accent: #7BAFD1;
}

body {
    background-color: var(--light-background);
    font-family: sans-serif;
}

header {
    padding: 1.2em;
    margin: 0.5em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    -webkit-app-region: drag;
}

header h1 {
    font-size: 2.5em;
    text-align: center;
}

header img {
    height: 80px;
    width: 80px;
    margin: 0.5em;
}

main {
    background-color: var(--light-foreground);
    width: 90%;
    height: 90%;
    margin: auto;
    padding: 1em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0.5em 0.5em #ccc;
}

a {
    color: var(--light-accent);
}

input {
    border: 0.1em solid var(--light-background);
    border-radius: 0.4em;
    padding: 0.3em;
}

input, label {
    display: block;
    margin: 0.5em;
}

input[type="submit"] {
    margin: 1em auto;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-background);
        color: #fff;
    }
    header img {
        filter: invert();
    }
    main {
        background-color: var(--dark-foreground);
        box-shadow: none;
    }
    input {
        border-color: var(--dark-background);
    }
    a {
        color: var(--dark-accent);
    }
}
