html {
    height: 100vh;
    font-family: sans-serif;

    --light-background: #D1D6DC;
    --light-foreground: #EEF0F2;
    --light-accent: #317BB3;
    --dark-background: #1F1F1F;
    --dark-foreground: #333;
    --dark-accent: #7BAFD1;
}

body {
    background-color: var(--light-background);
    font-family: sans-serif;
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
    margin: 0;
    padding: 0;
}

main, aside {
    height: 90%;
    padding: 1em;
}

main {
    width: 75%;
    background-color: var(--light-foreground);
}

aside {
    width: 25%;
}

ul { 
    list-style: none;
    padding: 0;
}

li {
    border-radius: 0.3em;
    margin: 0 0.5em;
    padding: 0.5em;
}

li:hover {
    background-color: var(--light-foreground);
    transition: background-color ease-in-out 0.3s;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-background);
        color: white;
    }
    main {
        background-color: var(--dark-foreground);
        box-shadow: none;
    }
    li:hover {
        background-color: var(--dark-foreground);
    }
}
