html {
    height: 100vh;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    margin: 0;
    padding: 0;
}

main, aside {
    height: 90%;
    padding: 1em;
    margin: 1em auto;
    border-radius: 0.5em;
    background-color: lightgray;
    box-shadow: 0.2em 0.2em 1em #999;
}

main {
    width: 70%;
}

aside {
    width: 20%;
}

ul { 
    list-style: none;
}
